QDialog#HelpDialog {
    background-color: @dialog.background;
}

QDialog#HelpDialog QSplitter#HelpSidebarSplitter::handle:horizontal {
    background-color: @help.nav.border;
    width: 1px;
    margin: 0;
}
