QDialog#SettingsDialog {
    background-color: @dialog.background;
}

#SettingsContentArea {
    background-color: @dialog.background;
}

#SettingsSidebar {
    background-color: @dialog.input.background;
    border-right: 1px solid @dialog.border;
    outline: none;
}
